.info {
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: repeat(5, auto);  
    grid-template-areas:    "titInfo   titInfo   titInfo"
                            "artUno    imgUno    musica"
                            "imgDos    artDos    musica"
                            "artTres   imgTres   musica"
                            "imgCuatro artCuatro .";
    grid-row-gap: 5vh;
    justify-items: center;
    align-items: center;   
    
    &__titulo {
        grid-area: titInfo;
    }
    &__articulo {
        width: $ochenta;
        align-self: stretch;
        &--uno {
            grid-area: artUno;
        }
        &--dos {
            grid-area: artDos;
        }
        &--tres {
            grid-area: artTres;
        }
        &--cuatro {
            grid-area: artCuatro;
        }
        &--uno , &--tres {
            border-radius: 20px 0 0 20px;
            justify-self: end;
        }
        &--dos , &--cuatro {
            border-radius: 0 20px 20px 0;
            justify-self: start;
        }
        &__subt {
            text-align: center;
        }
    }
    &__div {
        width: $noventa;
        background-color: $colorNav;
        border: solid 6px $colorNav;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &--uno {
            grid-area: imgUno;
            justify-self: start;
            align-self: stretch;
            border-radius: 0 20px 20px 0;
            border-left: 0;
        }
        &--dos {
            grid-area: imgDos;
            justify-self: end;
            align-self: stretch;
            border-radius: 20px 0 0 20px;
            border-right: 0;
        }
        &--tres {
            grid-area: imgTres;
            justify-self: start;
            align-self: stretch;
            border-radius: 0 20px 20px 0;
            border-left: 0;
        }
        &--cuatro {
            grid-area: imgCuatro;
            justify-self: end;
            align-self: stretch;
            border-radius: 20px 0 0 20px;
            border-right: 0;
        }
        &__img {
            width: 100%;
            border-radius: 15px;
            &--beneficios , &--musica {
                border-radius: 15px;
            }
            &--espacio , &--recomendaciones {
                border-radius: 15px;
            }
        }
    }
    &__aside {
        grid-area: musica;
        align-self: start;
        width: $noventa;
    }  
}